aws_region=""
ssh_pub_key="~/.ssh/id_rsa.pub"
app_id="semantive_"
app="semantive"
app_ver=""
tags={"App":"semantive","AppStage":""}
statefile_bucket=""
timezone="Europe/Warsaw"
keys_bucket=""
github_token=7a7bbc396ea923fdfcd13ae90f61e8c6c7bad932
