aws_region=""
ssh_pub_key="~/.ssh/id_rsa.pub"
ssh_priv_key="~/.ssh/id_rsa"
app_id="pipeline_master"
app="pipeline"
app_ver="master"
tags={"App":"pipeline","AppStage":"master"}
statefile_bucket=""
timezone="Europe/Warsaw"
keys_bucket=""
github_token=""
github_user="popiol"
github_repo="pipeline"
crud_rest_key=""
